<footer>
    <div class="container">
        <ul class="footer-menu">
            <li>
                <a href="">Home</a>
            </li>
            <!-- <li>
                <a href="">other menu's</a>
            </li> -->
        </ul>
        <div class="copyright">
            <p>&copy; 2024 All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>