<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <h1>Book Notes</h1>
            </div>
            <label class="toggle-open" for="menu-toggle"><i class="lni lni-chevron-down"></i></label>
            <input type="checkbox" name="menu-toggle" id="menu-toggle">
            <ul class="nav-menu">
                <li>
                    <label class="toggle-close" for="menu-toggle"><i class="lni lni-chevron-right"></i></label>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <button class="btn">
                        <a class="btn-add" href="/add">+ Add</a>
                    </button>
                </li>
                <!-- <li>
                    <a href="/">other menu</a>
                </li> -->
            </ul>
        </div>
    </nav>
