<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <h1>Book Notes</h1>
            </div>
            <label class="toggle-open" for="menu-toggle"><i class="lni lni-chevron-down"></i></label>
            <input type="checkbox" name="menu-toggle" id="menu-toggle">
            <ul class="nav-menu">
                <li>
                    <label class="toggle-close" for="menu-toggle"><i class="lni lni-chevron-right"></i></label>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="btn-add" href="/add">+ Add</a>
                </li>
                <% if(locals.books){ %>
                    <li class="sort-dropdown">
                        <div class="btn-sort">
                            <a>Sort by <i class="fa fa-caret-down"></i></a> 
                        </div>
                        
                        <form action="/sort" method="post" class="form-sort">
                            <label for="input-date" class="sort-item sort-hover">
                                <input class="radio-sort" type="radio" name="category" value="date" id="input-date" onclick="this.form.submit()">
                                Date
                            </label>
                            <label for="input-title" class="sort-item sort-hover">
                                <input class="radio-sort" type="radio" name="category" value="title" id="input-title" onclick="this.form.submit()">
                                Title
                            </label>
                            <label for="input-rating" class="sort-item sort-hover">
                                <input class="radio-sort" type="radio" name="category" value="rating" id="input-rating" onclick="this.form.submit()">
                                Rating
                            </label>
                            <div class="sort-item sort-order">
                                <label for="input-ASC" class="sort-hover">
                                    <input class="radio-sort" type="radio" name="order" id="input-ASC" value="ASC" checked>
                                    ASC
                                </label>
                                <label for="input-DESC" class="sort-hover">
                                    <input class="radio-sort" type="radio" name="order" id="input-DESC" value="DESC" >
                                    DESC
                                </label>
                            </div>
                        </form>
                    </li>
                    <script>
                        document.querySelector(`label[for=input-ASC]`).classList.add('checked');
                
                        document.querySelector('.sort-order').addEventListener('click', function(event) {
                            // Remove 'checked' class from both ASC and DESC labels
                            document.querySelector('label[for="input-ASC"]').classList.remove('checked');
                            document.querySelector('label[for="input-DESC"]').classList.remove('checked');
                            
                            // Find the clicked radio button and add 'checked' class to its associated label
                            const clickedRadioButton = event.target.closest('input[type="radio"]');
                            if (clickedRadioButton) {
                                const labelForClickedRadioButton = document.querySelector(`label[for="${clickedRadioButton.id}"]`);
                                if (labelForClickedRadioButton) {
                                    labelForClickedRadioButton.classList.add('checked');
                                }
                            }
                        });
                
                    </script>
                    <% if(locals.sort) { %> 
                        <script>
                            document.querySelector(`label[for=input-ASC]`).classList.remove('checked');
                        </script>
                        <% sort.forEach( s => { %>
                            <script>
                                var element = document.querySelector(`label[for=input-<%= s %>]`).classList.add('checked');
                            </script>
                        <% }); %>
                    <% } %>
                <% } %>
                <!-- <li>
                    <a href="/">other menu</a>
                </li> -->
            </ul>
        </div>
    </nav>
